<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Cadastro de cafe do colaborador</title>

</head>
<body>
	

	<div class="container my-2">
		<h2>Editar Pessoa</h2>
		<form action="#" th:action="@{/rh/pessoas/salvar}" th:object="${pessoa}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
			<input type="text" th:field="*{nome}" placeholder="Nome" class="form-control mb-4 col-4">

			<span th:if="${#fields.hasErrors('CPF')}" th:errors="*{CPF}" class="text-danger"></span>
			<input type="text" th:field="*{CPF}" placeholder="CPF" class="form-control mb-4 col-4">
      		
      		<span th:if="${#fields.hasErrors('cafe')}" th:errors="*{cafe}" class="text-danger"></span>
			<input type="text" th:field="*{cafe}" placeholder="Cafe" class="form-control mb-4 col-4">
   
      		

			
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/rh/pessoas}">Retornar para a lista de colaboradores</a>
	</div>
</body>
</html>